# Flutter/Dart
.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.g.dart

# Android
android/.gradle/
android/local.properties
android/app/.cxx/
*.keystore
*.jks

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
*.iml
.vscode/
.DS_Store

# ملفات الإصدارات
*.apk
*.aab
*.ipa
